@model IEnumerable<NewWebAPI.Models.Restaurant>

<div>
    <div>
        <a onclick="aa();">Get JSON</a>
    </div>
    <div>
        <a onclick="bb();">DELETE ITEM</a>
    </div>
    
    <div>
        <a onclick="cc();">CREATE PRODUCT</a>
    </div>
    <div>
        <a onclick="dd();">GET PRODUCT 3</a>
    </div>
    <div>
        <a onclick="GetOrder(6);">GET ORDER</a>
    </div>
    
    <div>
        <a onclick="GetProductsCB1();">GET Products with CB</a>
    </div>


    <script type="text/javascript">

        function GetProductsCB1() {
            
            var apiUrl = "http://localhost:18279/api/products";

            $.ajax({
                url: apiUrl,
                type: "GET",
                cache: false,
                contentType: "application/jsonp",
                //datatype: "jsonp",
                //jsonp:true,
                jsonpCallback: "cb",
                success:jsonpCallback,
                statusCode: {                    
                    200: function(data) {
                        console.log("GOOOD");
                        //console.log(data);
                    },
                    201: function(data) {
                        console.log("CREATED");
                        //console.log(data);
                    },
                    404: function(data) { console.log(url + " ...not found."); },
                    400: function(data) { console.log("BAD Request"); }
                }
            }).done(function(response) {
                console.log("DONE");
                //console.log(response);
            }).fail(function(response) {
                console.log("FAIL");
                console.log(response);
            });
        };
        function jsonpCallback(data) {
            console.log("CALLBACK")
            console.log(data);
        };

        function GetOrder(orderId) {

            var apiUrl = "http://localhost:18279/api/client/orders/" + orderId;

            $.ajax({
                url: apiUrl,
                type: "GET",
                cache: false,
                contentType: 'application/json',
                /*
                statusCode: {
                    200: function(data) {
                        console.log("GOOOD");
                        console.log(data);
                    },
                    201: function(data) {
                        console.log("CREATED");
                        console.log(data);
                    },
                    404: function(data) { console.log(url + " ...not found."); },
                    400: function(data) { console.log("BAD Request"); }
                } */
            }).then(onOrder, onError);
            //.then(getOrderItems1(orderId),onError)

            function onOrder(data) {
                console.log("GOOD ORDER")
                console.log(data);
                getOrderItems(data.orderID);
            };
            function onOrderItems(data) {
                console.log("GOOD ORDER ITEMS")
                console.log(data);
            };
            function onError(reason) {
                console.log("Error");
                console.log(reason);
            };

            function getOrderItems(orderId) {

                var apiUrl = "http://localhost:18279/api/client/orders/" + orderId + "/items";

                $.ajax({
                    url: apiUrl,
                    type: "GET",
                    cache: false,
                    contentType: 'application/json',
                }).then(onOrderItems, onError);
            };
            function getOrderItems1(orderId) {

                var apiUrl = "http://localhost:18279/api/client/orders/" + orderId + "/items";

                $.ajax({
                    url: apiUrl,
                    type: "GET",
                    cache: false,
                    contentType: 'application/json',
                }).then(onOrderItems, onError);
            };
        };


        function aa() {
            $.getJSON('http://localhost:18279/api/restaurants', function (data) {
                console.log(data);
            });
        };

        function bb() {

            var url = "http://localhost:18279/api/client/orders/6/items/2";
            $.ajax({
                url: url,
                type: "DELETE",
                cache: false,
                statusCode: {
                    
                    200: function (data) { console.log("GOOOD"); },
                    404: function (data) { console.log(url + " ...not found."); },
                    400: function (data) { console.log("BAD Request"); }
                }
            });
        };

        function dd() {
            try {


                var url = "http://localhost:18279/api/products/3";
                $.getJSON(url,
                    function(data) {
                        console.log(data);
                    },function (er){console.log(er)});
            }
            catch(e) {
                var a = 1;
            }             
        };

        function cc() {

            var productData = new product(0, "Product 5", 10.99, "Test Product 5");
            var productJson = JSON.stringify(productData);
            
            var url = "http://localhost:18279/api/products";

            $.ajax({
                url: url,
                type: "POST",
                cache: false,
                data: productJson,
                contentType: 'application/json',
                statusCode: {                    
                    200: function(data) {
                        console.log("GOOOD");
                        console.log(data);
                    },
                    201: function(data) {
                        console.log("CREATED");
                        console.log(data);
                    },
                    404: function(data) { console.log(url + " ...not found."); },
                    400: function(data) { console.log("BAD Request"); }
                }
            }).done(function(response) {
                console.log("DONE");
                console.log(response);
            }).fail(function(response) {
                console.log("FAIL");
                console.log(response);
            });
        };

        function product(id, name, price, description) {

            this.id = id;
            this.name = name;
            this.price = price;
            this.description = description;
        };


    //$(document).ready(function () {

        //    $.ajax(
        //        {
        //            type: 'POST',
        //            url: 'http://localhost:18279/api/values',

        //            dataType: "json",
        //            crossDomain: true,
        //            success: function (msg) {

        //                alert("success");

        //            },
        //            error: function (request, status, error) {

        //                alert(error);
        //            }
        //        });
        //});

    </script>

</div>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit the
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
            </li>

            <li class="two">
                <h5>Add NuGet packages and jump-start your coding</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>
    </section>
</div>


@section featured {
  <section class="featured">
    <div class="content-wrapper">
    </div>
  </section>
}
@foreach (var restuarant in Model)
{
  <div>ID: @restuarant.ID - @restuarant.Name</div>
  <ul>
    @foreach (var review in restuarant.Reviews)
    {
        <li>ID: @review.ID - Date: @review.DiningDate.ToShortDateString() - Ratting: @review.Rating
            <ul style="list-style-type:square;">
                <li>
                    <div>
                        @review.Body
                    </div>
                </li>
            </ul>
        </li>
    }
  </ul>
}