@model RestaurantCentral.Models.Restaurant
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @*
    @using (Html.BeginForm("Delete", "Restaurant", new { id = Model.ID },FormMethod.Post, new {id="frmDel"}))
    {
        @Html.Hidden("ID",Model.ID)
        <input hidden="true"  type="submit" value="Delete" />
    }
    *@


    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    
    @*
    @Html.ActionLink("Delete1", null, null,  new Dictionary<string, object>() { { "onclick", "frmDel.submit();" } }) |
    *@

    @Html.ActionLink("Back to List", "Index")
</p>

<fieldset>
    <legend>Restaurant</legend>

    <div class="display-label">Name:</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">City:</div>
    <div class="display-field">@Model.Address.City</div>

    <div class="display-label">State:</div>
    <div class="display-field">@Model.Address.State</div>

    <div class="display-label">Country:</div>
    <div class="display-field">@Model.Address.Country</div>

    <div class="display-label">Add Date:</div>
    <div class="display-field">@Model.AddDate.ToString()</div>

</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Reviews</h2>
@*
@foreach (var review in Model.Reviews)
{
    <div class="review">
        <h3>@review.Restaurant.Name</h3>
        <p>Dining Date: @review.DiningDate.ToShortDateString()</p>
        <p>Rating: @review.Rating</p>
        <p>Added: @review.Created</p>
        <p>
            @review.Body
            <span class="right">
                @Html.ActionLink("Edit", "Edit", "Review",new { id = review.ID },null)
            </span>
        </p>
    </div>
}
*@

@foreach (var item in Model.Reviews)
{
    @Html.Partial("_Review", item)
}

@Html.ActionLink("Create a new Review", "Create", "Review", new { RestaurantID = Model.ID }, null)